.sec2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    background-color: aquamarine;
    height: 450px;
}
.secimg {
    display: flex;
    justify-content: center;
    gap: 150px;
    align-items: center;
    height: 100px;
    width: 1300px;
}
h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: black;
    margin-top: 85px;
}
.pop2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img1 {
    height: 120px;
    width: 120px;
}
.p1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: black;
    font-weight: bold;
}
.b1 {
    width: 80px;
    height: 30px;
    border: 1px;
    background-color: #FFBF69;
}
.b1 a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

/* MEDIA QUERIES */

@media (max-width: 390px) {
    .sec2 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%; 
        height: auto; 
}
    .secimg {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        width: 100%; 
        height: auto;
        margin: 10px 0 20px 0;
}
    h3 {
        font-size: 16px;
        margin: 20px;
}
    .pop2 {
        display: flex;
        flex-direction: column;
        align-items: center;  
}
    .img1 {
        height: 120px;
        width: 120px;
}
    .p1 {
        font-size: 14px;
        margin: 10px;
}
    .b1 {
        width: 80px;
        height: 30px;
}
    .b1 a {
        color: black;
        font-size: 14px;
}
}