.sec3 {
    display: flex;
    background-image: url(../IMAGENES/bg-grid.png);
    background-size: calc(1200px);
    background-position-y: -370px;
    background-position-x: 130px;
    height: 450px;
}
.secinterior {
    display: flex;
    align-items: left;
    flex-direction: column;
    gap: 20px;
    margin-left: 80px;
    margin-top: 80px;
}
h4 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: black;
    margin-bottom: 0px;
}
.p2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: black;
    text-align: left;
}
.img2 {
    height: 300px;
    width: 320px;
    margin: 80px 60px 40px 80px;
}

/* MEDIA QUERIES */

@media (max-width: 390px) {
    .sec3 {
        display: flex;
        flex-direction: column;
        background-size: cover;
        background-position: 77% center;
        background-repeat: no-repeat;
        height: 100%;
}
    .secinterior {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        margin: auto;
}
    h4 {
        font-size: 16px;
        margin-top: 30px;
}
    .p2 {
        font-size: 14px;
        text-align: center;
        max-width: 300px;
}
    .img2 {
        height: 200px;
        width: 200px;
        margin-top: 0;
}
}